.wrapper {
  background-color: white;
  margin: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  white-space: pre-wrap;
  text-align: left;
}

.list_item {
  margin-block: 4px;
  width:100%;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow: hidden;
}