.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 800px;
}

.errorText {
  color: red;
  font-size:12px;
}

.form_btn {

  border-radius: 10px;
  border: 1px solid #333;
  padding: 12px;
  background-color: bisque;
  max-width: 300px;
  transition: all 200ms ease;

  &:disabled {
    color: white;
    background-color: #999;
    cursor: not-allowed;
  }
}